body {
    background-color: #FFCCFF; 
    color: #333; 
}

.navbar {
    background: rgba(7, 19, 7, 0.068);
}

.product-card {
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 30px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;  
    height: 250px; 
    object-fit: cover;
}

.star-rating {
    color: gold;
    cursor: pointer;
}

.cart-section {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.cart-total {
    font-size: 1.2em;
    font-weight: bold;
}
